<!DOCTYPE html>
<html>
<head>
    <title>Student Management System</title>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

<div class="text-end mb-3">
    <a href="/logout" class="btn btn-outline-danger">
        Logout
    </a>
</div>


    <div class="card shadow p-4">
        <h2 class="text-center mb-4">🎓 Student Management System</h2>

        <!-- Add Student Form -->
        <form action="/add" method="POST" class="row g-3">

            <div class="col-md-4">
                <input type="text" name="name" class="form-control" placeholder="Full Name" required>
            </div>

            <div class="col-md-3">
                <input type="number" name="age" class="form-control" placeholder="Age" required>
            </div>

            <div class="col-md-3">
                <input type="text" name="course" class="form-control" placeholder="Course" required>
            </div>

            <div class="col-md-2 d-grid">
                <button type="submit" class="btn btn-primary">
                    Add Student
                </button>
            </div>

        </form>
    </div>

    <!-- Student Table -->
    <div class="card shadow mt-4 p-4">
        <form method="GET" action="/" class="row mb-3">

    <div class="col-md-4">
        <input type="text" name="search"
               class="form-control"
               placeholder="Search by name">
    </div>

    <div class="col-md-2">
        <button type="submit" class="btn btn-success">
            Search
        </button>
    </div>

    <div class="col-md-2">
        <a href="/" class="btn btn-secondary">
            Reset
        </a>
    </div>

</form>

        <h4 class="mb-3">📋 Student List</h4>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Course</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student[0] }}</td>
                    <td>{{ student[1] }}</td>
                    <td>{{ student[2] }}</td>
                    <td>{{ student[3] }}</td>
                    <td>
                    <a href="/delete/{{ student[0] }}"
                        class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure you want to delete this student?');">
                        Delete
                    </a>
                    </td>
                </tr>
                
                   <td>
                <a href="/edit/{{ student[0] }}" 
                    class="btn btn-warning btn-sm">
                    Edit
                    </a>

                    <a href="/delete/{{ student[0] }}"
                        class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure you want to delete this student?');">
                        Delete
                    </a>
                </td>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
